<section id = "social" />
<section id = "social top-margn" data-aos="fade-right"  data-aos-easing="linear" data-aos-duration="500">
  <div class = "container-fluid">
    <div class = "row pad-action pad-left-more">

      <div class = "col-6">
        <h1 class="action-hyper">Socialize to Make the Best With Your Money</h1>
        <h3>
          sVipd offers an unique opportunity to learn about trends around you. Get information from local users and merchants about new products, sales, and offers. Join today and flaunt your favorite items! </h3>
        <h4>Curious?</h4>

        <center>
          <button  onclick="document.location='#join'" type="button" class="btn black_col btn-lg section-download-button col-5"><i class="fas fa-globe-americas fa-2x"></i><br />
            <strong>Learn more</strong>
          </button>
        </center>

      </div>

      <div class = "col-6 my-auto">
        <%= image_tag "image_1.png", class: "pay-section", alt: "iphone-mockup-showing-sVipd-mobile-application", style: "float:right;" %>
      </div>


    </div>
  </div>
</section>