<section id = "pay" />
<section id = "pay top-margn" data-aos="fade-down"  data-aos-easing="linear" data-aos-duration="500">
  <div class = "container-fluid">
    <div class = "row pad-action pad-left-more">

      <div class = "col-6 my-auto">
        <%= image_tag "image_2.png", class: "pay-section", alt: "iphone-mockup-showing-sVipd-mobile-application" %>
      </div>
      <div class = "col-6">
        <h1 class="action-hyper">Search Products, <br />
        Stay Informed</h1>
        <h3>
          sVipd lets you search merchants and products around you and affords you the ability to compare their prices
           and deals with ease. Thus, you never have to worry about missing out on the best deal near you. 
           <strong>Always!</strong>
        </h3>
        <h4>Curious?</h4>

        <center>
          <button onclick="document.location='#social'" type="button" class="btn yellow_col btn-lg section-download-button col-5"><i class="fas fa-hand-holding-usd fa-2x"></i><br />
            <strong>Learn more</strong>
          </button>
        </center>

      </div>

    </div>
  </div>
</section>