
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Ubuntu" rel="stylesheet">

<style>
  .pad-left{
    padding: 1% 5%;
  }
  .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .nav-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:18px;
  }
  .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .nav-item {
  padding: 0 18px;
  }

  #slide-container {
 position: relative;
 max-width: 100%;
}

#slide-first-element {
 display: block;
 width: 100%;
 height: auto;
}

#slide-element-2 {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}

.slide-image {
  width: 52%;
  display: inline-block;
}

#slide-first-element {
 animation: fade-1 10s infinite;
 -webkit-animation: fade-1 10s infinite;
}
#slide-element-2 {
 animation: fade-2 10s infinite;
 -webkit-animation: fade-2 10s infinite;
}

@keyframes fade-1 {
 0% { opacity: 1; }
 33% { opacity: 0; }
 66% { opacity: 0; }
 75% {opacity: 1;}
 95% {opacity: 1;}
 100% { opacity: 1; }
}
@keyframes fade-2 {
 0% { opacity: 0; }
 33% { opacity: 1; }
 66% { opacity: 1; }
 100% { opacity: 0; }
}

.pad-left-more{
  padding: 2% 6%;
}
.pad-action {
  padding-top: 50px;
}
.pad-left{
  padding: 1% 6%;
}

.action-hyper{
font-family: 'Montserrat', sans-serif;
font-size: 57px;
font-weight: bold;
line-height: 1.5;
}
.login-div {
  padding: 6px;
  background-color: #E5E5E5;
  border: 1px solid transparent;
  border-radius: 10px;
  line-height: 1.5;

}

.content-login-div {
  padding: 5px;
  background-color: #F5F2F2;
  border-radius: 10px;
}
.form-control {
  padding: 15px;
  border-radius: 10px;
}

.password-reset {
  color: #409CD0;
  text-decoration: none;
}

.password-reset:hover {

  color: #409CD0;
  text-decoration: none;
  border: none;

}

.col-7{
  display: block;
  padding-bottom: 10px;
}
.white-lm {
  font-family: 'Montserrat', sans-serif;font-weight: lighter;
}

.login-btn-pad {
  margin-left: 30px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pad-top-login-box{
  padding-top:17%;
}

.yellow_col{
  background-color: #F2C94C;
  border-radius: 10px;
  padding: 15px;
}

.yellow_col:hover {
    background-color: black;
    color: white;
    transition: all .2s;
}
#footr{
  background-color:black;
}

.link-secondary, li{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: white;
  text-decoration: none;
}

h5{ color:white; }
</style>




<section id = "title" style = "background-color:black;">
        <div class = "pad-left" style = "padding-right:9%;">
          <div class = "pad-bottom">
            <nav class="navbar navbar-expand navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">sVipd</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class = "nav-item">
                  <a class = "nav-link active" href = "/home_login?myform=<%= @stor.name %>">Main Menu</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Product</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" href="#">Story</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/login">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          </div>
        </div>
</section>



<section id = "Login" style = "margin-bottom: 50px;">
  <div class = "container-fluid">
    <div class = "row pad-action pad-left-more">
      <h1>Create a story: <span style = ""><%= @stor.name %></span></h1>
    </div>
  </div>
</section>






<section style = "padding:120px; width: 990px;margin-left: 250px;">
  <div class = "login-div" >
    <div class = "content-login-div">
      <center>
        <h1 class = "action-hyper">sVipd alert</h1>

        
        


      </center>
    </div>
  </div>
</section>





